*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

/* Константы для стилей */
:root {
	--color-gold: #f2c64d;
	--color-text: rgb(77, 77, 77);
	--color-white: #fff;
	--color-headers: #1a0d01;
	--color-contact: #f0542c;
	--color-bg-block: rgb(179, 175, 175);

	--ff-pacifico: "Pacifico", cursive;
	--ff-headers: "Montserrat", sans-serif;
	--ff-text: "Raleway", sans-serif;

	--fs-medium: 30px;
	--fs-large: 50px;
	--fs-small: 18px;

	--padding-small: 1%;
}

body {
	position: relative;
}

/* Стилизуем контейнер с менюшкой, логотипом и иконками социальных сетей */
.container {
	width: 1140px;
	margin: 30px auto;
	padding: var(--padding-small);
}

/* Заголовки */

h4 {
	text-align: center;
	font-size: var(--fs-medium);
	font-family: var(--ff-headers);
	padding: 10px 0;
	clear: both;
}

/* стилизуем UI в проекте общими ссылками */

a {
	text-decoration: none;
	color: var(--color-white);
	cursor: pointer;
}

button {
	border: none;
	border-radius: 5px;
	color: var(--color-white);
	cursor: pointer;
	background: var(--color-contact);
	padding: var(--padding-small);
	margin: 0 5px;
	font-size: var(--fs-small);
}

/*  HEADER  */

header {
	font-family: "Paytone One", sans-serif;
	color: var(--color-white);
	font-size: var(--fs-small);
	/* background: no-repeat center/100% url("../img/header/bradcam2.png"); */
	min-height: 350px;
	position: relative;
}

.header-info {
	display: flex;
	padding: var(--padding-small);
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	width: 100%;
	z-index: 4;
}

header-bg {
	object-fit: contain;
	width: 100%;
}

/* МЕНЮ*************************************** */

nav {
	width: 40%;
}

ul.menu {
	display: flex;
	justify-content: space-around;
	align-items: start;
	list-style-type: none;
	margin: 0px;
}

ul.menu a:hover {
	color: var(--color-gold);
}

/* Контейнер Логотипа  */

.logo {
	width: 20%;
	text-align: center;
}

.logo img {
	width: 40%;
}

/* Контейнер социальных сетей  *******************/

.social-links {
	width: 40%;
	text-align: center;
	font-size: 23px;
}

/* Кнопка в контейнере social-links  */

.social-links a {
	border: 1px solid var(--gold-header);
	padding: 0.5rem;
	border-radius: 20px;
	color: var(--color-white);
}

.social-links a:hover {
	/* background-color: var(--color-gold); */
	color: var(--color-gold);
}

/* Заголовок в header */

header h3 {
	text-align: center;
	font-size: 50px;
	font-family: var(--font-headers);
	padding: 30px 0;
	color: var(--color-white);
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
}

/* Основное содержимое */

.hitDishes__tabs__content {
	padding: var(--padding-small);
	position: relative;
}

.tabs__content_card {
	font-size: var(--fs-medium);
	opacity: 0;
	transition: 0.5s all ease-out;
	/* position: absolute;
	top: 0;
	left: 0; */
}

.tabs__content_card.active {
	opacity: 1;
}

.tabs__content_card_pict {
	width: 40%;
	height: 250px;
	object-fit: cover;
	float: left;
	padding: 1%;
}

.tabs__content_card_desc {
	text-align: justify;
	font-size: 1.3rem;
	font-family: var(--ff-text);
	font-weight: normal;
	color: var(--color-text);
	padding: 5px;
	line-height: 150%;
}

/* Костыль */
.tabs__content_card_desc::after {
	content: "";
	display: block;
	clear: both;
}

.tabs__content_card_prod {
	width: 90%;
	font-family: "'Raleway', sans-serif;";
	text-align: left;
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--ff-text);
	padding: 5px;
	line-height: 150%;
	color: var(--color-text);
	border-collapse: collapse;
	margin: 0 auto;
}

.tabs__content_card_prod td {
	padding: 5px;
}

.tabs__content_card_prod tr:nth-child(odd) {
	background: var(--color-contact);
	color: var(--color-headers);
}

.tabs__content_card_prod caption {
	padding: 5px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}

.tabs__content_card_wrap {
	width: 90%;
	margin: 0 auto;
}

/* FOOTER ******************************/

footer {
	min-height: 350px;
	padding: var(--padding-small);
	margin: 1% 0;
	text-align: center;
	position: relative;
	font-size: var(--fs-small);
	background: var(--color-bg-block);
	border-radius: 0px 0px 10px 10px;
}

.footer__container {
	display: flex;
	justify-content: center;
}

address {
	width: 30%;
	padding: var(--padding-small);
	font-style: normal;
}

.footer__container__h3 {
	font-family: var(--ff-headers);
	margin-bottom: 30px;
	color: var(--color-headers);
}

.footer__container__p {
	font-family: var(--ff-text);
	margin-bottom: 30px;
	color: var(--color-text);
	line-height: 150%;
}

/* телефон */
.footer__container a {
	margin-bottom: 30px;
	color: var(--color-contact);
	font-family: var(--ff-headers);
	font-size: var(--fs-medium);
}

/* форма Футера *******************/

.footer__container__form {
	padding: var(--padding-small);
	margin: 10px 0;
	width: 100%;
}

.footer__container__form input,
.footer__container__form button {
	outline-color: var(--color-contact);
	border: none;
}

.footer__container__form button {
	border-radius: 10px;
	padding: 0.5rem;
	background-color: var(--color-contact);
	color: var(--color-white);
}

/* контейнер социальных ссылок */
/* Модификатор */

.inFooter {
	padding: var(--padding-small);
	width: 100%;
	display: flex;
	justify-content: center;
}

.inFooter a {
	border: 2px solid var(--color-contact);
	border-radius: 50%;
	margin: 0 15px;
	width: 33px;
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}
