@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf?16n7n9") format("truetype"), url("../fonts/icomoon.svg?16n7n9#icomoon") format("svg");
	font-weight: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\ea0a";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-facebook:before {
	content: "\ea90";
}
.icon-instagram:before {
	content: "\ea92";
}
.icon-telegram:before {
	content: "\ea95";
}
